<section class="section-preview">
  {% assign tagged_posts = site.tags[include.tag] | slice: 0, include.limit %}
  {% for post in tagged_posts %}
    <article class="work-preview">
      <h4 class="work-preview__title">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h4>
      <p class="work-preview__excerpt">
        {% if post.description %}
          {{ post.description }}
        {% else %}
          {{ post.content | strip_html | truncate: 120 }}
        {% endif %}
      </p>
    </article>
  {% endfor %}
</section>
